@charset "UTF-8";
.center {
  display: flex;
  justify-content: center;
}

#hero .scroll-down, footer .scroll-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  color: whitesmoke;
}
#hero .scroll-down i, footer .scroll-up i {
  font-size: 25px;
}

.italics {
  font-style: italic;
}

.bolder {
  font-weight: bolder;
}

#accordion-wrapper {
  width: 100%;
  color: black;
}
@media screen and (max-width: 430px) {
  #accordion-wrapper {
    margin: 0px;
    padding: 0px;
  }
}
#accordion-wrapper .accordion {
  width: 100%;
}
#accordion-wrapper .accordion .accordion-title {
  position: relative;
  color: white;
  background-color: black;
  cursor: pointer;
  padding: 40px;
}
#accordion-wrapper .accordion .accordion-title:hover {
  background-color: #3D3C3A;
}
#accordion-wrapper .accordion .accordion-title .accordion-instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  font-size: 1.5rem;
  line-height: normal;
  overflow: visible;
}
#accordion-wrapper .accordion .accordion-title .accordion-instructions::after {
  display: flex;
  justify-content: center;
  font-family: FontAwesome !important;
  content: "";
}
#accordion-wrapper .accordion .accordion-title .contract-instructions {
  font-size: 1.5rem;
  line-height: normal;
  overflow: visible;
}
#accordion-wrapper .accordion .accordion-title .contract-instructions::after {
  display: flex;
  justify-content: center;
  font-family: FontAwesome !important;
  content: "";
}
#accordion-wrapper .accordion .accordion-body {
  display: none;
  flex-direction: column;
  background-color: white;
  padding-top: 35px;
}
#accordion-wrapper .accordion .accordion-footer {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  cursor: pointer;
  background-color: black;
  padding: 20px;
  font-size: 1.1rem;
  font-weight: 400;
}
#accordion-wrapper .accordion .accordion-footer::after {
  content: "Close the Above Section";
}
#accordion-wrapper .accordion .accordion-footer:hover {
  background-color: #3D3C3A;
}
#accordion-wrapper .accordion .active {
  display: flex;
}

.accordion:not(:first-of-type, :last-of-type) {
  border-left: solid 3px white;
  border-right: solid 3px white;
}

.accordion:first-of-type {
  border: solid 3px white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.accordion:first-of-type .accordion-title {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.accordion:last-of-type {
  border: solid 3px white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.accordion:last-of-type .accordion-title {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.accordion:last-of-type .accordion-footer {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#coding-examples {
  max-width: 1000px;
  width: 100%;
}
#coding-examples p {
  margin: 25px 0;
}
#coding-examples h4 {
  padding-top: 20px;
}
#coding-examples .screenshot {
  width: 100%;
  max-width: 900px;
  height: auto;
  margin-bottom: 20px;
}
#coding-examples .tech-breakdown {
  display: flex;
  align-items: center;
  margin: 0 0 30px;
}
#coding-examples .tech-breakdown .breakdown-item {
  display: table-cell;
  padding: 15px;
}
#coding-examples .tech-breakdown .breakdown-item .value {
  font-size: 1.5rem;
}
#coding-examples .tech-breakdown .breakdown-item.markup {
  color: #E34C26;
  font-size: 3rem;
  line-height: normal;
  overflow: visible;
}
#coding-examples .tech-breakdown .breakdown-item.markup::after {
  display: flex;
  justify-content: center;
  font-family: FontAwesome !important;
  content: "";
}
#coding-examples .tech-breakdown .breakdown-item.sass {
  color: #CD6799;
  font-size: 3rem;
  line-height: normal;
  overflow: visible;
}
#coding-examples .tech-breakdown .breakdown-item.sass::after {
  display: flex;
  justify-content: center;
  font-family: FontAwesome !important;
  content: "";
}
#coding-examples .tech-breakdown .breakdown-item.css {
  color: #1B73BA;
  font-size: 3rem;
  line-height: normal;
  overflow: visible;
}
#coding-examples .tech-breakdown .breakdown-item.css::after {
  display: flex;
  justify-content: center;
  font-family: FontAwesome !important;
  content: "";
}
#coding-examples .tech-breakdown .breakdown-item.javascript {
  color: #F0D84F;
  font-size: 3rem;
  line-height: normal;
  overflow: visible;
}
#coding-examples .tech-breakdown .breakdown-item.javascript::after {
  display: flex;
  justify-content: center;
  font-family: FontAwesome !important;
  content: "";
}
#coding-examples .tech-breakdown .breakdown-item.sql {
  color: #15AABF;
  font-size: 3rem;
  line-height: normal;
  overflow: visible;
}
#coding-examples .tech-breakdown .breakdown-item.sql::after {
  display: flex;
  justify-content: center;
  font-family: FontAwesome !important;
  content: "";
}
#coding-examples .tech-breakdown .breakdown-item.php {
  color: #6181B6;
  font-size: 3rem;
  line-height: normal;
  overflow: visible;
}
#coding-examples .tech-breakdown .breakdown-item.php::after {
  display: flex;
  justify-content: center;
  font-family: FontAwesome !important;
  content: "";
}

@font-face {
  font-family: bitwise;
  src: url(../fonts/bitwise.regular.ttf);
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #bbb;
  overflow-x: -moz-hidden-unscrollable;
  overflow-x: hidden;
}
body a {
  text-decoration: none;
  word-wrap: break-word;
  color: #C63581;
}
body a:hover, body a:focus, body a:active {
  color: #96004F;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 992px) {
  header {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
}
header h1 {
  display: block;
  text-align: center;
  font-size: 2.5rem;
  width: 100%;
  margin: 0 50px;
}
header .header-image {
  margin: 0 0 60px;
  height: 300px;
  min-height: 300px;
  width: 300px;
  min-width: 300px;
  border-radius: 50%;
  border: solid 3px white;
  object-fit: cover;
}

main {
  margin: 50px 35px auto 35px;
  min-height: calc(100vh - 65px);
}
main h2 {
  padding: 20px 0 15px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
@media (min-width: 770px) {
  footer .scroll-up {
    margin-left: -50px;
  }
}
@keyframes animate-bounce-up {
  0% {
    transform: translateY(0) scale(1);
  }
  40% {
    transform: translateY(30px) scale(1.1);
  }
  50% {
    transform: translateY(0) scale(1);
  }
  60% {
    transform: translateY(15px) scale(1.2);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
footer .scroll-up:hover, footer .scroll-up:focus, footer .scroll-up:active {
  animation: animate-bounce-up 1s;
}

@media (max-width: 770px) {
  #menu {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  #hero {
    width: 100%;
  }

  .main-page {
    width: 100%;
  }
}
@media (min-width: 770px) {
  #menu {
    display: flex;
  }

  .hamburger-menu {
    display: none;
  }

  #hero {
    width: calc(100% - $menu-width);
    margin-left: 210px;
  }

  .main-page {
    margin-left: 210px;
  }
}
.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0D0208;
  padding: 3px;
}
@media screen and (min-width: 430px) {
  .main-page {
    padding: 50px;
  }
}

.hamburger-menu {
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  color: whitesmoke;
  font-size: 35px;
  z-index: 3;
}
.hamburger-menu i {
  filter: drop-shadow(0px 0px 25px black);
}

#slider-trigger {
  cursor: pointer;
}

#slider-container {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 4;
  max-width: 150px;
  width: 100%;
  height: 100vh;
  background: white;
  border: solid 3px firebrick;
  opacity: 0.8;
  overflow-y: auto;
}
#slider-container .slider-home {
  margin-top: 40px;
  font-size: 30px;
  line-height: normal;
  overflow: visible;
}
#slider-container .slider-home::before {
  display: flex;
  justify-content: center;
  font-family: FontAwesome !important;
  content: "";
}
#slider-container .slider-about {
  font-size: 30px;
  line-height: normal;
  overflow: visible;
}
#slider-container .slider-about::before {
  display: flex;
  justify-content: center;
  font-family: FontAwesome !important;
  content: "";
}
#slider-container .slider-portfolio {
  font-size: 30px;
  line-height: normal;
  overflow: visible;
}
#slider-container .slider-portfolio::before {
  display: flex;
  justify-content: center;
  font-family: FontAwesome !important;
  content: "";
}
#slider-container .slider-code {
  font-size: 30px;
  line-height: normal;
  overflow: visible;
}
#slider-container .slider-code::before {
  display: flex;
  justify-content: center;
  font-family: FontAwesome !important;
  content: "";
}
#slider-container .slider-scheme {
  font-size: 30px;
  line-height: normal;
  overflow: visible;
}
#slider-container .slider-scheme::before {
  display: flex;
  justify-content: center;
  font-family: FontAwesome !important;
  content: "";
}
#slider-container .slider-contact {
  font-size: 30px;
  line-height: normal;
  overflow: visible;
}
#slider-container .slider-contact::before {
  display: flex;
  justify-content: center;
  font-family: FontAwesome !important;
  content: "";
}
#slider-container .slider-github {
  font-size: 30px;
  line-height: normal;
  overflow: visible;
}
#slider-container .slider-github::before {
  display: flex;
  justify-content: center;
  font-family: FontAwesome !important;
  content: "";
}
#slider-container a {
  font-size: 1rem;
  font-weight: 450;
  margin: max(5px, calc((((100vh - (40px + 30px)) / 8) - 50px) / 2)) 10px;
  text-decoration: none;
}
#slider-container a:hover {
  font-weight: 550;
}

#x {
  position: fixed;
  top: 10px;
  left: 120px;
  height: 20px;
  width: 20px;
  z-index: 5;
  cursor: pointer;
  color: black;
  font-size: 20px;
  line-height: normal;
  overflow: visible;
}
#x::after {
  display: flex;
  justify-content: center;
  font-family: FontAwesome !important;
  content: "";
}
#x:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
  opacity: 1;
  background-color: black;
  color: white;
}

#menu {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2;
  height: 100%;
  width: 210px;
  background-color: #0D0208;
  border-right: solid #003B00 2px;
}
#menu .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 210px;
}
#menu .logo img {
  height: 160px;
  width: 160px;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
#menu .logo img:hover, #menu .logo img:focus, #menu .logo img:active {
  animation: pulse 1s;
}
#menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: fit-content;
}
#menu .menu a {
  margin: 20px 0;
  font-size: 1.2rem;
  position: relative;
}
#menu .menu a:hover {
  color: white;
}
#menu .menu a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #C63581;
  transition: 0.4s ease-in-out;
}
#menu .menu a:hover::after, #menu .menu a:focus::after, #menu .menu a:active::after {
  width: 100%;
}
#menu .github-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  font-size: 50px;
  height: 50px;
  width: 50px;
  transition: transform 1s ease, color 1s ease;
}
#menu .github-icon:hover {
  transform: scale(1.2) rotate(360deg);
  color: whitesmoke;
}
#menu .tooltip-container {
  position: relative;
}
#menu .tooltip-container .tooltipi {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  /* Use half of the width (120/2 = 60), to center the tooltip */
  margin-top: 20px;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 0.8rem;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    -webkit-opacity: 0;
    -webkit-visibility: hidden;
  }
  100% {
    -webkit-opacity: 1;
    -webkit-visibility: visible;
  }
}
#menu .tooltip-container:hover .tooltipi {
  -webkit-animation: fadeIn 1s both alternate;
  animation: fadeIn 1s ease both;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../vid/altMatrix.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  z-index: -2;
  color: white;
  border-bottom: solid #003B00 2px;
}
#hero video {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 100%;
  min-width: 100%;
  min-height: 100vh;
  width: auto;
  height: auto;
  -webkit-transform: translateX(-100%) translateY(-100%);
  -moz-transform: translateX(-100%) translateY(-100%);
  -o-transform: translateX(-100%) translateY(-100%);
  -ms-transform: translateX(-100%) translateY(-100%);
  transform: translateX(-100%) translateY(-100%);
}
@media (min-width: 30em) {
  #hero video {
    display: flex;
  }
}
#hero .hero-text {
  display: flex;
  z-index: 2;
  width: 100%;
  height: auto;
  padding: 15px;
}
#hero .hero-text span {
  text-align: center;
  color: #0AB11F;
  font-family: bitwise;
  z-index: 3;
  width: 100%;
  -ms-word-wrap: normal;
  -ms-word-break: normal;
  word-wrap: normal;
  word-break: normal;
  font-weight: 400;
  font-size: 4.5vw;
}
@media screen\0  {
  #hero .hero-text span:after {
    content: "My Name is Lee Whiting. I'm a Web Developer.";
  }
}
#hero .hero-text span _:-ms-fullscreen:after, #hero .hero-text span :root:after {
  content: "My Name is Lee Whiting. I'm a Web Developer.";
}
#hero .scroll-down {
  position: absolute;
  z-index: 3;
  bottom: 0;
}
@media screen\0  {
  #hero .scroll-down {
    left: 50%;
  }
}
@media screen\0  and (max-width: 770px) {
  #hero .scroll-down {
    left: calc(50% - 50px);
  }
}
#hero .scroll-down _:-ms-fullscreen, #hero .scroll-down :root {
  left: 50%;
}
@media (max-width: 770px) {
  #hero .scroll-down _:-ms-fullscreen, #hero .scroll-down :root {
    left: calc(50% - 50px);
  }
}
@keyframes animate-bounce-down {
  0% {
    transform: translateY(0) scale(1);
  }
  40% {
    transform: translateY(-30px) scale(1.2);
  }
  50% {
    transform: translateY(0) scale(1);
  }
  60% {
    transform: translateY(-15px) scale(1.1);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
#hero .scroll-down:hover, #hero .scroll-down:focus, #hero .scroll-down:active {
  animation: animate-bounce-down 1s;
}

#project {
  width: 100%;
  max-width: 1000px;
  margin: 20px 0 0;
}
#project .project-card {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
}
@media screen\0  {
  #project .project-card {
    width: auto;
    height: auto;
    margin: 20px;
  }
}
#project .project-card _:-ms-fullscreen, #project .project-card :root {
  width: auto;
  height: auto;
  margin: 20px;
}
#project .project-card:hover img {
  box-shadow: 0 0 55px white;
  filter: brightness(100%);
  transform: scale(1.2);
  border: solid 2px #BA0B67;
  z-index: 1;
}
#project .project-card:hover .title {
  color: white;
}
#project .project-card:hover .title .view {
  color: #C63581;
}
#project .project-card img {
  border: solid 2px grey;
  border-radius: 15px;
  height: 230px;
  min-height: 230px;
  width: 100%;
  object-fit: cover;
  filter: brightness(60%);
  box-shadow: 0 0 20px grey;
  transform: scale(1);
  transition: box-shadow 1s ease, transform 0.4s ease, filter 0.4s ease;
}
@media screen\0  {
  #project .project-card img {
    height: auto;
    max-height: 230px;
    width: 100%;
    -ms-interpolation-mode: bicubic;
  }
}
#project .project-card img _:-ms-fullscreen, #project .project-card img :root {
  height: auto;
  max-height: 230px;
  width: 100%;
  -ms-interpolation-mode: bicubic;
}
#project .project-card .title {
  align-self: flex-start;
  padding: 35px 0 0 20px;
  color: #bbb;
  z-index: 1;
  word-wrap: normal;
}
@media screen\0  {
  #project .project-card .title {
    width: 100%;
    -ms-word-wrap: normal;
  }
}
#project .project-card .title _:-ms-fullscreen, #project .project-card .title :root {
  width: 100%;
  -ms-word-wrap: normal;
}
#project .project-card .title h2 {
  font-size: auto;
}
#project .project-card .title .desc {
  font-size: 0.9rem;
  word-wrap: normal;
  margin-bottom: 8px;
}
#project .project-card .title p {
  margin-bottom: 0px;
  font-size: 1.2rem;
  display: inline-flex;
  justify-content: left;
  align-items: center;
}

#contact .email, #contact textarea, #contact input {
  width: 100%;
  margin: 5px 0;
  padding: 3px 10px;
  height: 2.4rem;
  line-height: 1.5rem;
  font-size: 0.9rem;
  color: white;
  background-color: #BA0B67;
  border: solid 2px #999;
  border-radius: 15px;
  outline: none;
}
#contact .email:focus, #contact textarea:focus, #contact input:focus {
  color: white;
  background-color: #0D0208;
  border: solid 3px white;
}
#contact .email::placeholder, #contact textarea::placeholder, #contact input::placeholder {
  color: #bbb;
  font-size: 0.9rem;
}

#contact button {
  min-height: 60px;
  min-width: 130px;
  color: white;
  background-color: #BA0B67;
  border: solid 2px #999;
  border-radius: 30px;
  font-size: 1.1rem;
  transition: transform 0.2s ease-in, border 0.2s ease-in;
}
#contact button:hover, #contact button:focus, #contact button:active {
  transform: scale(1.2);
  color: white;
  border: solid 3px white;
}

#contact {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 80px 0 30px;
  padding: 30px;
  border: solid 3px #003B00;
  border-radius: 30px;
}
@media only screen and (max-width: 350px) {
  #contact {
    margin: 30px -30px;
    padding: 15px 15px;
  }
}
#contact .contact-copy {
  width: 100%;
}
#contact .contact-copy #formErrorMessages, #contact .contact-copy .success, #contact .contact-copy .errors {
  display: none;
  text-align: center;
  color: white;
  font-weight: 600;
  background-color: black;
  opacity: 0.8;
  border: solid 3px #C63581;
  border-radius: 20px;
  padding: 25px;
}
#contact .contact-copy #formErrorMessages ul li, #contact .contact-copy .success ul li, #contact .contact-copy .errors ul li {
  list-style: none;
  padding: 3px 0px 0px;
}
#contact .contact-copy .errors {
  display: block;
  color: red;
  list-style: none;
}
#contact .contact-copy .success {
  display: block;
  color: green;
  list-style: none;
}
#contact textarea {
  height: calc(1.5rem * 6);
  overflow-y: auto;
  overflow-x: hidden;
}
#contact .email {
  display: block;
  padding-bottom: 20px;
  width: fit-content;
}
#contact button {
  margin-bottom: 20px;
}

#about-me {
  max-width: 1000px;
  width: 100%;
}

#scs-scheme {
  max-width: 1000px;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
