@import "partials/mixins";
@import "partials/maps";
@import "partials/variables";
@import "partials/helpers";
@import "partials/coding_examples";

@font-face {
    font-family: bitwise;
    src: url(../fonts/bitwise.regular.ttf);
  }

html{
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #bbb;
    overflow-x: -moz-hidden-unscrollable;
    overflow-x: hidden;
    a{
        text-decoration: none;
        word-wrap: break-word;
        color: $matrix-purple-light;
        &:hover,
        &:focus,
        &:active{
            color: $matrix-purple;
        }
    }
}

// common to all internal pages except index
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include MQ('lg','and-wider'){
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    h1{
        display: block;
        text-align: center;
        font-size: 2.5rem;
        width: 100%;
        margin: 0 50px;
    }
    .header-image{
        margin: 0 0 60px;
        height: 300px;
        min-height: 300px; //
        width: 300px;
        min-width: 300px;  //
        border-radius: 50%;
        border: solid 3px white;
        object-fit: cover; // Works on all but IE. Use any image ratio and will work for rounded image.
    }
}
main{
    margin: 50px 35px auto 35px;
    min-height: calc(100vh - 65px);
    h2{
        padding: 20px 0 15px;
    }
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
    .scroll-up{
        @extend %scroll;
        @include MQ('md','and-wider'){
            margin-left: -50px; // take into consideration the padding in the main-page
        }
        @include scroll-up-bounce-animation;
    }
}
// end common

@include MQ('md','and-smaller'){    // Smaller screen sizes: Hide the side menu show the hamburger menu icon.
    #menu{
        display: none;
    }
    .hamburger-menu{
        display: flex;
    }
    #hero{
        width: 100%;
    }
    .main-page{
        width: 100%;
    }
}
@include MQ('md','and-wider'){  //  Larger screen sizes: Hide the hamburger menu icon and show the side menu also set the margin-left by the menu width to prevent the page from slipping under the menu.
    #menu{
        display: flex;
    }
    .hamburger-menu{
        display: none;
    }
    #hero{
        width: calc(100% - $menu-width);
        margin-left: $menu_width;
    }
    .main-page{
        margin-left: $menu_width;
    }
}

.main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $matrix-black;
    padding: 3px;
    @media screen and (min-width: 430px){
        padding: 50px;
    }
}  

.hamburger-menu{
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    color: whitesmoke;
    font-size: 35px;
    z-index: 3;
    i{
        filter: drop-shadow(0px 0px 25px rgba(0,0,0,1));
    }
}

// // slider menu start
#slider-trigger{
    cursor: pointer;
}

#slider-container{
    display: none;
    flex-direction: column; //
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 4;
    max-width: $slider-menu-width;
    width: 100%;
    height: 100vh;
    background:white;
    border: solid 3px firebrick; 
    opacity: 0.8;
    overflow-y: auto;
    .slider-home{
        margin-top: 40px;
        @include place-awesome-icon('home', 30px);
    }
    .slider-about{
        @include place-awesome-icon('about', 30px);
    }
    .slider-portfolio{
        @include place-awesome-icon('portfolio', 30px);
    }
    .slider-code{
        @include place-awesome-icon('code', 30px);
    }
    .slider-scheme{
        @include place-awesome-icon('scheme', 30px);
    }
    .slider-contact{
        @include place-awesome-icon('contact', 30px);
    }
    .slider-github{
        @include place-awesome-icon('github', 30px);
    }
    a{
        font-size: 1rem;
        font-weight: 450;
        // Margin calc is for top and bottom to make the margin sizes  f menu items) - height of icon [plus margin top and bottom]) / 2 to get space for top and bottom margins otherwise were doubling 
        // I included a min function so that margins cannot me negative. This way when I include overflow-y:auto if a mobile is in landscape orientation the menu icons aren't on top of each other and the user can scroll the slider menu.
        margin: max(5px, calc((((100vh - (40px + 30px)) / 8) - 50px) / 2)) 10px;
        text-decoration: none;
        &:hover{
            font-weight: 550;
        }
    }
}

#x{
    position: fixed;
    top: 10px;
    left: $slider-menu-width - 30px;
    height: 20px;
    width: 20px;
    z-index: 5;
    cursor: pointer;
    color:black;
    @include place-awesome-icon('closeX',20px,'after');
    &:hover{
        display:flex;
        justify-content: center;
        align-items: center;
        z-index: 6;
        opacity: 1;
        background-color: black;
        color:white;
    }
}
// // slider menu END

#menu{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
    height: 100%;
    width: $menu_width;
    background-color: $matrix-black;
    border-right: solid $matrix-green-dark 2px;
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: $menu_width;
        height: $menu_width;
        img{
            height: 160px;
            width: 160px;
            @include pulse-animation;
        }
    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: $menu_width;
        height: fit-content;
        a{
            margin: 20px 0;
            font-size: 1.2rem;
            position: relative;
            &:after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                border-bottom: 4px solid $matrix-purple-med-d;
                transition: 0.4s ease-in-out;
            }
            &:hover::after,
            &:focus::after,
            &:active::after{
                width: 100%;
            }
        }
    }
    .github-icon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
        font-size: 50px;
        height: 50px;
        width: 50px;
        transition: transform 1s ease, color 1s ease;
        &:hover{
            transform: scale(1.2) rotate(360deg);
            color:whitesmoke;
        }
    }
    .tooltip-container{
        position: relative;
        .tooltipi{
            opacity: 0;
            visibility: hidden;
            position: absolute;
            z-index: 1;
            width: 120px;
            top: 100%;
            left: 50%;
            margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
            margin-top: 20px;
            
            background-color: whitesmoke;
            color: black;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            
            font-size: 0.8rem;
        }
    }
    @keyframes fadeIn{
        0% {opacity: 0; visibility: hidden;}
        100% {opacity: 1; visibility: visible;}
    }
    @-webkit-keyframes fadeIn{
        0% {-webkit-opacity: 0; -webkit-visibility: hidden;}
        100% {-webkit-opacity: 1; -webkit-visibility: visible;}
    } 
    .tooltip-container:hover .tooltipi{
        -webkit-animation: fadeIn 1s both alternate;
        animation: fadeIn 1s ease both;
    }
    // @keyframes fadeOut{
    //     0% {opacity: 1; visibility: visible;}
    //     100% {opacity: 0; visibility: hidden;}
    // }
    // @-webkit-keyframes fadeOut{
    //     0% {-webkit-opacity: 1; -webkit-visibility: visible;}
    //     100% {-webkit-opacity: 0; -webkit-visibility: hidden;}
    // } 
    // .tooltip-container:not(:hover) .tooltipi{
    //     animation: fadeOut 1s ease;
    //     // -webkit-animation: fadeOut 1s both alternate;
    // }
}

#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../vid/altMatrix.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    z-index: -2;
    color: white;
    border-bottom: solid $matrix-green-dark 2px;
    video{
        position: absolute;
        z-index: 1;
        top:100%;
        left:100%;
        min-width: 100%;
        min-height: 100vh;
        width: auto;
        height: auto;
        @include vprefix('transform','translateX(-100%) translateY(-100%)');
    }
    @media (min-width: 30em) {
        video {
            display:flex;
        }
    }   
    .hero-text{
        display: flex;
        z-index: 2;
        width:100%;
        height: auto;
        padding: 15px;  
        span{
            text-align: center;
            color: $matrix-green-med-l;
            font-family: bitwise;
            z-index: 3;
            width: 100%;
            -ms-word-wrap: normal;
            -ms-word-break: normal;
            word-wrap: normal;
            word-break: normal;
            font-weight: 400;
            font-size: 4.5vw;
            @include targetIEonly{
                &:after{
                    content: "My Name is Lee Whiting. I'm a Web Developer.";
                    
                }
            }
        }
    }
    .scroll-down{
        @extend %scroll;
        position:absolute;
        z-index: 3;
        bottom: 0;
        @include targetIEonly{
            @include MQ('md','and-smaller'){
                left:calc(50% - 50px); // need to center but also take into account the main-page left padding or margin.
            }   
            left: 50%; // but no need to account for margins when the menu is shown?
        }
        @include scroll-down-bounce-animation;
    }
}


#project{
    width: 100%; //
    max-width:1000px;
    margin: 20px 0 0;
    .project-card{
        display: flex;
        flex-direction: column;
        max-width: 360px;
        margin-right: auto;
        margin-left: auto;
        @include targetIEonly{
            width: auto;
            height: auto;
            margin: 20px; //
        }
        img{
            border: solid 2px grey;
            border-radius: $project-card-border-radius;
            height: 230px;
            min-height: 230px;
            width: 100%;
            object-fit: cover;
            filter: brightness(60%);
            @include targetIEonly{
                height: auto;
                max-height: 230px;
                width: 100%;
                -ms-interpolation-mode: bicubic;
            }
            box-shadow: 0 0 20px grey;
            transform: scale(1);
            transition: box-shadow 1s ease, transform 0.4s ease, filter 0.4s ease;
        }
        &:hover img{
            box-shadow: 0 0 55px white;
            filter: brightness(100%);
            transform: scale(1.2);
            border: solid 2px $matrix-purple-med-l;
            z-index:1;
        }
        .title{
            align-self: flex-start;
            padding: 20px 0 0 20px;
            color: #bbb;
            z-index: 1;
            word-wrap: normal;
            @include targetIEonly{
                width: 100%;
                -ms-word-wrap: normal;
            }
            h2{
                font-size: auto;
            }
            .desc{
                font-size: 0.9rem;
                word-wrap:normal;
                margin-bottom: 8px;
            }
            p{
                margin-bottom:0px;
                font-size: 1.2rem;;
                display: inline-flex;
                justify-content: left;
                align-items: center;
            }
            &:hover{
                color: white;
                .view{
                    color: $matrix-purple-light;
                }
            }
        }
        // .arrow{
        //     font-size: 35px;
        //     opacity: 0;
        //     transform: translateX(-100%);
        //     transition: opacity 0.4s ease-in, transform 0.4s ease-in;
        // }
        // &:hover .arrow{
        //     opacity: 1;
        //     transform: translateX(100%) rotateX(360deg);
        // }
    }
}

%input{
    width: 100%;
    margin: 5px 0;
    padding:3px 10px;
    height: 2.4rem;
    line-height: 1.5rem;
    font-size: 0.9rem;
    color: white;
    background-color: $matrix-purple-med-l;
    border: solid 2px #999;
    border-radius: 15px;
    outline: none;
    &:focus{
        color: white;
        background-color: $matrix-black;
        border: solid 3px white;
    }
    &::placeholder{
        color: #bbb;
        font-size: 0.9rem;
    }
}
%button{
    min-height: 60px;
    min-width: 130px;
    color: white;
    background-color: $matrix-purple-med-l;
    border: solid 3px #999;
    border-radius: 30px;
    font-size: 1.1rem;
    transition: transform .2s ease-in, border .2s ease-in;
    &:hover,
    &:focus,
    &:active{
        transform: scale(1.2);
        color: white;
        border: solid 3px white;
    }
}
#contact{
    display: flex;
    width: 100%;
    max-width:1000px;
    margin: 80px 0 30px;
    padding: 30px;
    @media only screen and(max-width: 350px){
        margin: 30px -30px;
        padding: 15px 15px;
    }
    border: solid 3px $matrix-green-dark;
    border-radius: 30px;
    .contact-copy{
        width:100%;
        #formErrorMessages{
            display: none;
            text-align: center;
            color: white;
            font-weight: 600;
            background-color: black;
            opacity: 0.8;
            border: solid 3px $matrix-purple-light;
            border-radius: 20px;
            padding:25px;
            ul{
                li{
                list-style: none;
                padding:3px 0px 0px;
                }
            }
        }
    }
    input{
        @extend %input;
    }
    textarea{
        @extend %input;
        height: calc(1.5rem * 6);
        overflow-y: auto;
        overflow-x: hidden;
    }
    .email{
        @extend %input;
        display: block;
        padding-bottom: 20px;
        width: fit-content;
    }
    button{
        @extend %button;
        margin-bottom: 20px;
    }
}

#about-me{
    max-width:1000px;
    width: 100%;
}

#scs-scheme{
    max-width:1000px;
    width: 100%;
}


#coding-examples{
    max-width:1000px;
    width: 100%;
    p{
        margin: 25px 0;
    }
    h4{
        padding-top: 20px;
    }
    .screenshot{
        width: 100%;
        max-width: 900px;
        height: auto;
        margin-bottom: 20px;
    }
    .tech-breakdown{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin: 0 0 30px;
        .breakdown-item{
            display: flex;
            align-items: center;
            .value{
                font-size: 1.5rem;
            }
            &.markup{
                color: $html5-orange;
                @include place-awesome-icon('html', 3rem, 'after'){
                    margin-left: 2rem;
                }
            }
            &.sass{
                color: $sass-pink;
                @include place-awesome-icon('sass', 3rem, 'after'){
                    margin-left: 2rem;
                }
            }
            &.javascript{
                color: $javascript-yellow;
                @include place-awesome-icon('javascript', 3rem, 'after'){
                    margin-left: 2rem;
                }
            }
            &.sql{
                color: $sql-teal;
                @include place-awesome-icon('cubes', 3rem, 'after'){
                    margin-left: 2rem;
                }
            }

        }
    }
}
