@import "partials/mixins";
@import "partials/maps";
@import "partials/variables";
@import "partials/helpers";


body{
    font-family: Arial, Helvetica, sans-serif;
    color: #bbb;
    a{
        text-decoration: none;
        color: $matrix-purple-light;
        &:hover,
        &:focus,
        &:active{
            color: $matrix-purple;
        }
    }
}

// common to all internal pages except index
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h1{
        text-align: center;
        width: 100%;
        margin: 0 50px;
    }
    @include MQ('lg','and-wider'){
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .header-image{
        margin: 0 0 60px;
        height: 300px;
        min-height: 300px; //
        width: 300px;
        min-width: 300px;  //
        border-radius: 50%;
        border: solid 3px white;
        object-fit: cover; // Works on all but IE. Use any image ratio and will work for rounded image.
    }
    h1{
        display: block;
    }
}
main{
    margin: 50px 35px auto 35px;
    min-height: calc(100vh - 65px);
    h2{
        padding: 20px 0 15px;
    }
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
    .scroll-up{
        @extend %scroll;
        @include MQ('md','and-wider'){
            margin-left: -50px; // take into consideration the padding in the main-page
        }
        @include scroll-up-bounce-animation;
    }
}
// end common

@include MQ('md','and-smaller'){    // Smaller screen sizes: Hide the side menu show the hamburger menu icon.
    #menu{
        display: none;
    }
    .hamburger-menu{
        display: flex;
    }
    #hero{
        width: 100%;
    }
    .main-page{
        width: 100%;
        // Media query here test for smallest mobile to shift contents right in order to extend pass the scrolling fixed hamburger menu icon
        @media only screen and(max-width:290px){
            padding: 50px 10px 50px 60px;
        }
    }
}
@include MQ('md','and-wider'){  //  Larger screen sizes: Hide the hamburger menu icon and show the side menu also set the margin-left by the menu width to prevent the page from slipping under the menu.
    #menu{
        display: flex;
    }
    .hamburger-menu{
        display: none;
    }
    #hero{
        width: calc(100% - $menu-width);
        margin-left: $menu_width;
    }
    .main-page{
        // width: calc(100% - 210px);
        margin-left: $menu_width;
    }
}

.main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $matrix-black;
    padding: 50px;
}  

.hamburger-menu{
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    color: whitesmoke;
    font-size: 35px;
    z-index: 3;
    i{
        filter: drop-shadow(0px 0px 25px rgba(0,0,0,1));
    }
}

#menu{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: $menu_width;
    background-color: $matrix-black;
    border-right: solid $matrix-green-dark 2px;
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: $menu_width;
        height: $menu_width;
        border-bottom: $matrix-green-dark solid 2px;
        font-size: 100px;
        color: #bbb;
    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: $menu_width;
        height: fit-content;
        padding: 60px 0 10px;
        a{
            margin: 20px 0;
            font-size: 1.3rem;
            position: relative;
            &:after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                border-bottom: 4px solid $matrix-purple-med-d;
                transition: 0.4s ease-in-out;
            }
            &:hover::after,
            &:focus::after,
            &:active::after{
                width: 100%;
            }
        }
    }
    .github-icon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        font-size: 50px;
        height: 50px;
        width: 50px;
        transition: transform 1s ease, color 1s ease;
        &:hover{
            transform: scale(1.2) rotate(360deg);
            color:whitesmoke;
        }
    }
    .tooltip-container{
        position: relative;
        .tooltipi{
            opacity: 0;
            visibility: hidden;
            
            position: absolute;
            z-index: 1;
            width: 120px;
            top: 100%;
            left: 50%;
            margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
            margin-top: 20px;
            
            background-color: whitesmoke;
            color: black;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            
            
            font-size: 0.8rem;
        }
    }
    @keyframes fadeIn{
        0% {opacity: 0; visibility: hidden;}
        100% {opacity: 1; visibility: visible;}
    }
    @-webkit-keyframes fadeIn{
        0% {-webkit-opacity: 0; -webkit-visibility: hidden;}
        100% {-webkit-opacity: 1; -webkit-visibility: visible;}
    } 
    .tooltip-container:hover .tooltipi{
        animation: fadeIn 1s ease both;
        -webkit-animation: fadeIn 1s both alternate;
    }
    // @keyframes fadeOut{
    //     0% {opacity: 1; visibility: visible;}
    //     100% {opacity: 0; visibility: hidden;}
    // }
    // @-webkit-keyframes fadeOut{
    //     0% {-webkit-opacity: 1; -webkit-visibility: visible;}
    //     100% {-webkit-opacity: 0; -webkit-visibility: hidden;}
    // } 
    // .tooltip-container:not(:hover) .tooltipi{
    //     animation: fadeOut 1s ease;
    //     // -webkit-animation: fadeOut 1s both alternate;
    // }
}

#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/hero_img_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    border-bottom: solid $matrix-green-dark 2px;
    .hero-text{
        display: flex;
        font-family: monospace;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1,
        h2{
            text-align: center;
            width: 100%;
            -ms-word-wrap: normal;
            -ms-word-break: normal;
            word-wrap: normal;
            word-break: normal;
        }
    }
    .scroll-down{
        @extend %scroll;
        position:absolute;
        bottom: 0;
        @include targetIEonly{
            @include MQ('md','and-smaller'){
                left:calc(50% - 50px); // need to center but also take into account the main-page left padding or margin.
            }   
            left: 50%; // but no need to account for margins when the menu is shown?
        }
        @include scroll-down-bounce-animation;
    }
}


#project{
    width: 100%; //
    max-width:1300px;
    margin: 20px 0 0;
    .project-card{
        display: flex;
        flex-direction: column;
        max-width: 360px;
        margin-right: auto;
        margin-left: auto;
        @include targetIEonly{
            width: auto;
            height: auto;
            margin: 20px; //
        }
        img{
            border: solid 2px grey;
            border-radius: $project-card-border-radius;
            height: 230px;
            min-height: 230px;
            width: 100%;
            object-fit: cover;
            @include targetIEonly{
                height: auto;
                max-height: 230px;
                width: 100%;
                -ms-interpolation-mode: bicubic;
            }
            box-shadow: 0 0 20px grey;
            transform: scale(1);
            transition: box-shadow 1s ease, transform 0.4s ease, filter 0.4s ease;
        }
        &:hover img{
            filter: brightness(60%);
            box-shadow: 0 0 55px white;
            transform: scale(1.2);
            border: solid 2px $matrix-purple-med-l;
            z-index:1;
        }
        .title{
            align-self: flex-start;
            padding-left: 20px;
            color: #bbb;
            z-index: 1;
            word-wrap: normal;
            @include targetIEonly{
                width: 100%;
                -ms-word-wrap: normal;
            }
            h2{
                font-size: auto;
                margin-bottom:0px!important;
            }
            p{
                margin-bottom:0px;
                font-size: 1.2rem;;
                display: inline-flex;
                justify-content: left;
                align-items: center;
            }
        }
        &:hover .title{
            color: white;
        }
        .arrow{
            font-size: 35px;
            opacity: 0;
            transform: translateX(-100%);
            transition: opacity 0.4s ease-in, transform 0.4s ease-in;
        }
        &:hover .arrow{
            opacity: 1;
            transform: translateX(100%) rotateX(360deg);
        }
    }
}

%input{
    width: 100%;
    margin: 5px 0;
    padding:3px 10px;
    height: 2.4rem;
    line-height: 1.5rem;
    font-size: 1.1rem;
    color: white;
    background-color: $matrix-purple-med-l;
    border: solid 2px #999;
    border-radius: 15px;
    &:focus{
        color: white;
        background-color: $matrix-black;
        border: solid 3px white;
        outline: none;
    }
    &::placeholder{
        color: #bbb;
    }
}
%button{
    min-height: 60px;
    min-width: 130px;
    color: white;
    background-color: $matrix-purple-med-l;
    border: solid 3px #999;
    border-radius: 30px;
    font-size: 1.1rem;
    transition: transform .2s ease-in, border .2s ease-in;
    &:hover,
    &:focus,
    &:active{
        transform: scale(1.2);
        color: white;
        border: solid 3px white;
    }
}
#contact{
    display: flex;
    width: 100%;
    max-width:1300px;
    margin: 80px 0 30px;
    padding: 30px 30px;
    @media only screen and(max-width: 350px){
        margin: 30px -30px;
        padding: 15px 15px;
    }
    border: solid 3px $matrix-green-dark;
    border-radius: 30px;
    .contact-copy{
        flex: 1 1 40%;
        width:100%;
        @include MQ('md','and-wider'){
            margin: 0 30px 0 0;
        }
    }
    .inline-form{
        @include MQ('md','and-wider'){
            display: none;
        }
    }
    .contact-form{
        flex: 3 1 60%;
        @include MQ('md','and-smaller'){
            display: none;
        }
    }
    input{
        @extend %input;
    }
    textarea{
        @extend %input;
        height: calc(1.5rem * 6);
        overflow-y: auto;
        overflow-x: hidden;
    }
    .email{
        display: block;
        padding-bottom: 20px;
        width: fit-content;
    }
    button{
        @extend %button;
        margin-bottom: 20px;
    }
}

#about-me{
    max-width:1000px;
    width: 100%;
}

#scs-scheme{
    max-width:1000px;
    width: 100%;
}


#coding-example-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/coding_example.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    color: white;
    border-bottom: solid $matrix-green-dark 2px;
    .hero-text{
        display: flex;
        font-family:monospace;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include MQ('md','and-wider'){
            margin-left: $menu_width;
        }
    }
}