
.center{
    display: flex;
    justify-content: center;
}


%scroll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    color: whitesmoke;
    i{
        font-size:25px;
    }
}

.italics{
    font-style: italic;
}

.bolder{
    font-weight: bolder;
}