
.center{
    display: flex;
    justify-content: center;
}


%scroll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    color: whitesmoke;
    i{
        font-size:30px;
    }
}