@mixin place-awesome-icon($glyph, $size: null, $orientation: 'before'){
    $awesome_icon_map:(
        'closeX':'\f00d',
        'home':'\f015',
        'about':'\f128',
        'portfolio':'\f5c3',
        'code':'\f1c9',
        'scheme':'\f19d',
        'contact':'\f1fa',
        'github':'\f092',

        
        );
        @if map-has-key($awesome_icon_map,$glyph){
        font-size: $size;
        line-height: normal;
        overflow: visible;
        &::#{$orientation}{
            display: flex;
            justify-content: center;
            font-family: FontAwesome!important;
            content: map-get($awesome_icon_map,$glyph);
            @content;
        }
    }@else{
        @error "Your trying to call the font name '#{$name}' which does not exist in the awesome_icon_map used in the @mixin place-awesome-icon().";
    }
}

@mixin pulse-animation{
    @keyframes pulse {
        0% {transform: scale(1);}
        10% {transform: scale(1.1);}
        30% {transform: scale(1);}
        50% {transform: scale(1.2);}
        80% {transform: scale(1);}
        90% {transform: scale(1.1);}
        100% {transform: scale(1);}
    } 
    &:hover,
    &:focus,
    &:active{
        animation: pulse 1s;
    }
}

@mixin scroll-down-bounce-animation{
    @keyframes animate-bounce-down {
        0% {transform: translateY(0) scale(1);}
        40% {transform: translateY(-30px) scale(1.2);}
        50% {transform: translateY(0) scale(1);}
        60% {transform: translateY(-15px) scale(1.1);}
        100% {transform: translateY(0) scale(1);}
    } 
    &:hover,
    &:focus,
    &:active{
        animation: animate-bounce-down 1s;
    }
}

@mixin scroll-up-bounce-animation{
    @keyframes animate-bounce-up {
        0% {transform: translateY(0) scale(1);}
        40% {transform: translateY(30px) scale(1.1);}
        50% {transform: translateY(0) scale(1);}
        60% {transform: translateY(15px) scale(1.2);}
        100% {transform: translateY(0) scale(1);}
    } 
    &:hover,
    &:focus,
    &:active{
        animation: animate-bounce-up 1s;
    }
}

@mixin buildTooltip($width: 120px, $margin: 10px, $bg-color: white, $color: black, $border-radius: 6px){
    position: absolute;
    z-index: 1;

    width: $width;
    top: 100%;
    left: 50%;
    margin-left: calc(($width/2)*-1); /* Use half of the width (120/2 = 60), to center the tooltip */
    margin-top: $margin;
    
    background-color: $bg-color;
    color: $color;
    text-align: center;
    padding: 5px 0;
    border-radius: $border-radius;
    
    
    font-size: 0.8rem;
}


@mixin build-arrow($size:20px, $orientation: down, $color: #000000){
    $orientation-list:(
        'up',
        'down',
        'left',
        'right',
    );
    @if index($orientation-list, $orientation) == null{
        @error "Your passing the $orientation into the build-arrow @mixin PARAM 2 which isn't valid. You passed '#{$orientation}' the acceptable values are 'up' 'down' 'left' or 'right'.";
    }

    // content: " ";
    position: absolute;
    border-style: solid;
    border-width: $size;
    @if $orientation == "down"{    
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: calc($size * -1);
    border-color: $color transparent transparent transparent;
    } @else if $orientation == "up"{
    bottom: 100%;  /* At the top of the tooltip */
    // left: 50%;
    margin-left: calc($size * -1);
    border-color: transparent transparent $color transparent;
    } @else if $orientation == "left"{
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: calc($size * -1);
    border-color: transparent $color transparent transparent;
    } @else if $orientation == "right"{
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: calc($size * -1);
    border-color: transparent transparent transparent $color;
    }
}

@mixin MQ($bp, $func){
    $adjusted:0;
    @if not map-has-key($MQ_breakpoints_map,$bp){
        @error "Your passing a breakpoint to @mixin MQ PARAM 1 which isn't valid. You passed '#{$bp}' the acceptable values can be found in $MQ_breakpoints_map.";
    }@else if not map-has-key($MQ_func_map, $func){
        @error "Your passing a parameter to @mixin MQ PARAM 2 which isn't valid. You passed '#{$func}' the acceptable values can be found in $MQ_func_map";
    }@else{
        @media(map-get($MQ_func_map,$func): map-get($MQ_breakpoints_map,$bp)){
            @content;
        }
    }   
}


// Prefixers and IE targeting

@mixin vprefix($property:null, $value:null){
    // -webkit-: a prefix to make sure that properties work on Chrome, Safari, nearly all iOS browsers, and newer versions of Opera.
    // -moz-: a prefix for Firefox.
    // -o-: a prefix for older versions of Opera.
    // -ms-: a prefix for Internet Explorer and Microsoft Edge.
    
    -webkit-#{$property}: #{$value};
    -moz-#{$property}: #{$value};
    -o-#{$property}: #{$value};
    -ms-#{$property}: #{$value};
    #{$property}: #{$value};
}

@mixin targetIEonly{
    @media screen\0 {  // targets IE 8 9 & 10
        // Internet Explorer doesn’t support “woff2”. so adding “eot” as a fallback.
    @content;
    }
    
    _:-ms-fullscreen, :root {  // Targets IE 11+
        // Internet Explorer doesn’t support “woff2”. so adding “eot” as a fallback.
    @content;
    }
}

// Prefixers END