$menu_width: 210px;
$project-card-border-radius: 15px;

$matrix-green: #008F12;
$matrix-green-light: #33BC43;
// $matrix-green-med-l: #0AB11F;
// $matrix-green-med-d: #00740E;
$matrix-green-dark: #00530A;

// $matrix-orange: #B85700;
// $matrix-orange-light: #F39541;
// $matrix-orange-med-l: #E4720D;
// $matrix-orange-med-d: #964600;
// $matrix-orange-dark: #6B3200;

$matrix-purple: #96004F;
$matrix-purple-light: #C63581;
$matrix-purple-med-l: #BA0B67;
// $matrix-purple-med-d: #7A0040;
$matrix-purple-dark: #57002E;

$matrix-black: #0D0208;
// $matrix-green-dark: #003B00;
// $matrix-green-medium: #008F11;
// $matrix-green-light: #00FF41;