$menu_width: 210px;
$project-card-border-radius: 15px;
$slider-menu-width: 150px;

// colours
$matrix-green-med-l: #0AB11F;

$matrix-purple: #96004F;
$matrix-purple-light: #C63581;
$matrix-purple-med-l: #BA0B67;
$matrix-purple-med-d: #7A0040;

$matrix-black: #0D0208;
$matrix-green-dark: #003B00;

$html5-orange: #E34C26;
$sass-pink: #CD6799;
$javascript-yellow: #F0D84F;
$sql-teal: #15AABF;
// // $javascript-background-grey: #323330;
// END colours